@import "../../globalStyle.css";
@import "../../main.css";

/* section 1 start */
.section-contact {
  width: 100%;
  height: 100%;
  background: #fff9e9;
  padding: 100px;
}
.contact-tag {
  position: relative;
}
.contact-tag img {
  position: absolute;
  left: -45px;
  top: -40px;
}
.contact-tag h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #0f0f10;
}
.contact-form-wrapper {
  justify-content: space-between;
  margin-top: 40px;
}
.contact-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  z-index: 1;
  width: 670px;
  box-shadow: 1px 1px 2px 2px #e9ecf0;
}
.contact-form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact-form .field input,
textarea,
select {
  padding: 10px;
  border-radius: 25px;
  border: 1px solid lightgray;
  outline: none;
}
.contact-form select option {
  background-color: #fff;
  padding: 20px;
}
/* section 1 end */
