@import "../../globalStyle.css";
@import "../../main.css";
@import "../productOverview/productOverview.css";

body {
  background-color: #fff !important;
}

/* main start */
.main {
  width: 100%;
  height: auto;
  background-color: #fff9e9;
  padding: 80px 100px;
}
.paper {
  background-color: #fff;
  border-radius: 25px;
  padding: 90px 100px 90px 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  position: relative;
}
.paper .left {
  flex: 0.4;
}

.paper .right {
  flex: 0.6;
}

.paper .left h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  font-family: inherit !important;
}
.paper .left ul {
  padding-left: 20px;
}
.paper .left ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #00ffff;
  margin-top: 10px;
}

.right h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.01em;
}
.para1 .date {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  padding-top: 20px;
}
.para h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: #0f0f10;
}
.para p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  padding-top: 20px;
}
.para .para-bg{
  margin-top: 30px;
  background: #E9ECF0;
  border-radius: 25px;
  padding: 25px 17px;
}
.para p a{
  color: #00ffff !important;
}
.para ul,ol {
  padding-left: 40px;
}
.para ul li,ol li {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  margin-top: 10px;
}
.privacy-img{
  position: absolute;
  top: -40px;
  right: 0;
}

.privacy-ellipse{
  position: absolute;
  top: 600px;
  left: 0;
}
/* main end */

/* responsive  */

@media screen and (max-width: 1200px) {
  .main {
    padding: 50px 30px;
  }
  .paper {
    padding: 90px 30px 90px 30px;
  }
  .privacy-img {
   width: 20%;
}
}