@import "../../globalStyle.css";
@import "../../main.css";
@import "../productOverview/productOverview.css";

body {
  background-color: #fff !important;
}
/* section-1-start */
.section-1 {
  background-color: #fff9e9;
  height: 100vh;
  width: 100%;
}
.img-part {
  flex: 0.4;
}
.screen1-ellipse {
  position: absolute;
  left: -100px;
  top: 27px;
  z-index: -1;
}

/* section-1-start end */

/* section-2 and 3 start */
.clear-padding{
  padding: 0;
}
.allfeature{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 55px 150px;
}
.allfeature h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.01em;
  color: #0f0f10;
}
.allfeature p {
  margin: 20px 0;
}
.section-2-all-feature h2 span {
  color: #5d9eeb;
}
.section-2-all-feature {
  background: rgba(93, 158, 235, 0.16);
  position: relative;
  height: 100vh;
}
.allfeature-cards {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-top: 15px;
}
.justsity-start{
  justify-content: flex-start;
}
.align-center{
  align-self: center;
}
.feature-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 295px;
  height: 147px;
  border-right:5px solid #5d9eeb;
  border-bottom:5px solid #5d9eeb;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
}
.feature-card-header {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #0f0f10;
  margin-bottom: 10px;
}
.allfeature-btn{
  align-self: flex-start;
}
/* section-2   end */

/* section 3 start*/
.section-3-all-feature {
  background: rgba(255, 203, 203, 0.16);
  position: relative;
  height: 100vh;
}
.section-3-all-feature h2 span {
  color: #D27B7B;
}
.section-3-all-feature .feature-card {
  border-right:5px solid #D27B7B;
  border-bottom:5px solid #D27B7B;
}
/* section 3 end*/
/* section 4 start*/
.section-4-all-feature {
  background: rgba(147, 255, 216, 0.2);
  position: relative;
  height: 100vh;
}
.section-4-all-feature h2 span {
  color: #93FFD8;
}
.section-4-all-feature .feature-card {
  border-right:5px solid #93FFD8;
  border-bottom:5px solid #93FFD8;
}
/* section 4 end*/
/* section 5 start*/
.section-5-all-feature {
  background: #FFF9E9;
  position: relative;
  height: 100vh;
}
.section-5-all-feature h2 span {
  color: #C18A41;
}
.section-5-all-feature .feature-card {
  border-right:5px solid #C18A41;
  border-bottom:5px solid #C18A41;
}
/* section 5 end*/
/* section 6 start*/
.section-6-all-feature {
  background: rgba(0, 255, 255, 0.06);
  position: relative;
  height: 100vh;
}
.section-6-all-feature h2 span {
  color: #00FFFF;
}
.section-6-all-feature .feature-card {
  border-right:5px solid #00FFFF;
  border-bottom:5px solid #00FFFF;
}
/* section 6 end*/
