
.request-demo{
    background: linear-gradient(240deg, rgb(0 255 255 / 6%) 43%, #FFF9E9 40%);
    padding: 100px 120px;
}
.demo-sections{
    display: flex;
}
.request-section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 50%;
    justify-content: end;
}

.request-section h2{
    font-family: 'Cambria';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.01em;
    
    color: #0F0F10;
    width: 450px;
}

.request-section h5{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

letter-spacing: 0.01em;

/* BLACK */

color: #0F0F10;
}

.request-section h4{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
/* or 144% */

letter-spacing: 0.01em;

/* BLACK */

color: #0F0F10;
width: 490px;
padding: 30px 0;

}

.color-w{
    width: 10%;
}

.eclipse-req{
    width: 252px;
    height: 252px;
    background: rgba(210, 123, 123, 0.5);
    transform: rotate(-90deg);
    border-radius: 100%;
    z-index: 1;
    position: absolute;
    top: 38%;
    left: 48%;

}


.eclipse-req2{


    width: 200px;
    height: 200px;
    background: #d27b7b30;
    transform: rotate(-90deg);
    border-radius: 0% 100% 0% 0%;
    z-index: 1;
    position: absolute;
    top: 82%;
    left: 45%;

}

.form-section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 43%;
    justify-content: end;
}
.submit-form{
background-color: white;
    padding: 50px;
    display: inline-grid;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
border-radius: 15px;
z-index: 99;
}

.submit-form h2{
    font-family: Cambria;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.52px;
    letter-spacing: .15px;
    text-align: center;
    margin-bottom: 30px !important;
}

.submit-form> form>label {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #0F0F10;
}

.submit-form> form>input {
    border-radius: 50px;
    width: 100%;
    padding: 10px 15px;
    margin: 5px 10px 25px 0;
    border: 1px solid #E9ECF0;
    font-family: 'Inter';
    color: #505458;
    line-height: 18px;
    font-size: 14px;
}

.submit-form> form>input[type="submit"] {
    background-color: #00FFFF;
    color: #0F0F10;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.align-icon {
    margin-bottom: 15px;
}

.align-icon p{
    margin-top: -20px;
    margin-left: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    width: 400px;
}

.spealist-images img {
    width: 6%;
    margin-right: 15px;
}

